<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
<style>

table {
    width:80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
</head>
<body bgcolor=White>
  <div align=center>
<h1 style="background-color: CadetBlue;color: black">物品A</h1>

<table id="t01">
  <tr>
    <th>物品编号</th>
    <th>物品类别</th>
    <th>所属商品种类</th>
   
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
  
  
</table>
<h2>
   圖表1 
    </h2>
<img src="smiley-2.gif" alt="Smiley face" width="42" height="42">
    
<h2>推荐用户</h2>

<table id="t01">
  <tr>
    <th>ID</th>
    <th>職業</th>
    <th>等級</th>
  </tr>
  <tr>
    <td>520</td>
    <td>法師</td>
    <td>50</td>
  </tr>
  <tr>
    <td>521</td>
    <td>戰士</td>
    <td>94</td>
  </tr>
  <tr>
    <td>522</td>
    <td>盜賊</td>
    <td>80</td>
  </tr>
</table>


<h2>以下商品推荐一起购买</h2>

<table id="t01">
  <tr>
    <th>裝備名稱</th>
    <th>需要等級</th>
    <th>屬性1</th>
      <th>屬性2</th>
  </tr>
  <tr>
    <td>aaa</td>
    <td>50</td>
    <td>aaa</td>
      <td>aaa</td>
  </tr>
  <tr>
    <td>bbb</td>
    <td>55</td>
    <td>bbb</td>
      <td>bbb</td>
  </tr>
  <tr>
    <td>ccc</td>
    <td>60</td>
    <td>ccc</td>
      <td>ccc</td>
  </tr>


</table>
<br>
  
<button type = "button">
  返回
  </button>
  </div>


</body>
</html>
